{% extends "base.html" %}

{% block content %}
<div class="container content-space-3 content-space-t-lg-4 content-space-b-lg-3">
    <div class="flex-grow-1 mx-auto" style="max-width: 28rem;">
        <!-- Heading -->
        <div class="text-center mb-5 mb-md-7">
            <h1 class="h2">ایمیل ارسال شد</h1>
            <p>لطفاً ایمیل خود را برای لینک بازیابی رمز عبور بررسی کنید.</p>
        </div>
        <!-- End Heading -->
        
        <div class="text-center">
            <a class="btn btn-primary btn-lg" href="{% url 'accounts:login' %}">بازگشت به صفحه ورود</a>
        </div>
    </div>
</div>
{% endblock %}